<header>
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  
  <nav>
    <a href="/">Inicio</a>
    <a href="/projects">Proyectos</a>
    <a href="/about">Sobre mí</a>
  </nav>
</header>

