{{> header}}

<section class="about">
  <div class="hero">
  <img class="foto-perfil" src="/img/fotoPerfil.jpg" alt="">
  
    <div>
      <h1>Sobre mí</h1>
      <p>Soy Diseñador con más de 8 años de experiencia en diseño impreso y más de 3 en diseño digital, especialmente en interfaces para plataformas web. Siempre me ha interesado entender cómo funcionan las cosas que diseño, por eso decidí ampliar mi perfil y comenzar a formarme en desarrollo.</p>

      <h2>Mi historia</h2>
      <p>
        Actualmente estoy en formación como desarrollador FullStack JavaScript, reforzando mis bases en HTML, CSS y JS, y aprendiendo a trabajar con tecnologías del ecosistema moderno. Mi objetivo es combinar diseño y desarrollo para construir soluciones que no solo se vean bien, sino que también funcionen bien
      </p>
    </div>
  </div>
</section>

{{> footer}}
